body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero{
    grid-area: "hero";
    border: 5px solid red;

}

.practiceCard{
    grid-area: "practice";
    border: 5px solid red;

}

.relatedCard{
    grid-area: "related";
    border: 5px solid red;

}

.grid{
    display: grid;
    grid-template-areas: 
    'hero hero'
    'practice related';
}
